<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student score</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container w-50 h-75 d-flex justify-content-center align-items-center">
    <section class="shadow-lg rounded-3 my-5 px-5 py-5 container home">
        <h1 class="display-5 text-center">Login</h1>
        <form th:action="@{/login}" method="POST">
            <div id="error-msg" th:if="${param.error}" class="alert alert-danger">
              Invalid username or password
            </div>
            <div id="logout-msg" th:if="${param.logout}" class="alert alert-success">
              You have been logged out
            </div>
            <div class="mb-3">
              <label for="inputUsername">Username</label>
              <input type="text" name="username" id="inputUsername"
                     class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="inputPassword">Password</label>
              <input type="password" name="password" id="inputPassword"
                     class="form-control" required>
            </div>
            <div class="text-center">
                <button id="submit-button" type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>

    </section>
</div>

</body>
</html>